.mat-elevation-z8 {
  width: 100%;
}

header > h1, p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

tr:not(mat-header-row):hover {
  background: whitesmoke;
}